<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head ">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="fragments/header :: top"></header>

<div id="error12">

<div class="center">

    <img  style="width:600px;height:500px;" class="rounded" th:src="@{/images/cat.jpg}" alt="">
    <h2 th:text="${message}"></h2>

    <div id="pgf">
    <h2 th:text="${reason}"></h2>
    </div>

</div>
</div>

</body>
</html>