

html {
    background-color: #DADDD8;


}
body{
    background-color: #DADDD8;
}


div{
    background-color: #DADDD8;

}


h1 {
    color: #FAFAFF;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;

}
h4 {
    color: #1C1C1C;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}

h5 {
    color: #FAFAFF;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}

.navbar li a {
    color: #ECEBE4;
}

.navbar-nav {
    background-color: #1C1C1C;
}

.jumbotron {

    background-image: url("../images/header.jpg");
    margin-bottom: 100px;
}
.head-1 {
    margin-bottom:-35px;
}

p {
    color: #1C1C1C;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serifm, serif;
}

ul li {
    display: inline-block;
    padding: 0 20px;


}

ul li ~ li {
    border-left: 1px solid #333;

}


.card-body {
    background-color:#FAFAFF;

}

.card-deck {


}


.card {

    float: right;
    padding: 0 2px;


}

#card {
    border: 1px solid black;



}

#card2 {

    border: 1px solid black;

}

#card3 {
    border: 1px solid black;


}



.nav-link1 {
    display: inline;
    font-size: small;
    padding-right: 40px;

}




.flex-box {
    display: flex;
    justify-content: center;
}

.flex-box-item {
    width: 500px;
    margin: 20px;

}

.flex1 {
    max-width: 200px;
    margin: 50px;
    display: inline-flex;
    border: 1px solid black;
    align-items: flex-start;

}

.flex2 {

    background-color: white;
    max-width: 200px;
    margin: 50px;
    display: inline-flex;
    border: 1px solid black;
    align-items: flex-start;
}

#1 {
    color: white;
}

.column {
margin-left: 20px;
    width: 50%;
}


.row:after {
    content: "";
    display: flex;
    clear: both;
}
.column1 {
    margin-top:40px;

}





