

html {
    background-color: #DADDD8;


}
body{
    background-color: #DADDD8;
}


div{
    background-color: #DADDD8;

}


h1 {
    color: #FAFAFF;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;

}
h4 {
    color: #1C1C1C;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}

h5 {
    color: #FAFAFF;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}

.navbar li a {
    color: #ECEBE4;
}

.navbar-nav {
    background-color: #1C1C1C;
}

.jumbotron {

    background-image: url("../images/header.jpg");
    margin-bottom: 100px;
}
.head-1 {
    margin-bottom:-35px;
}

p {
    color: #1C1C1C;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serifm;
}

ul li {
    display: inline-block;
    padding: 0 20px;


}

ul li ~ li {
    border-left: 1px solid #333;

}


.card-body {

}

.card-deck {


}


.card {

    float: right;
    padding: 0 2px;


}

#card {
    border: 2px solid black;



}

#card2 {

    border: 2px solid black;

}

#card3 {
    border: 2px solid black;


}



.nav-link1 {
    display: inline;
    font-size: small;
    padding-right: 40px;

}

.list-group-flush {
    border: 2px solid black;

}




#group1 {
padding: -200px;




}
#group3 {
    display: inline;
}


.column {
    float: left;
    width: 50%;
   margin-bottom: 30px;


}






