<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head ">
    <meta charset="UTF-8">
    <title>Book Lending Application</title>


</head>
<body>
    <header th:replace="fragments/header :: top">

    </header>

    <table class="table table-striped">
        <thead class="">
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">View Lender</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="lender : ${lenders}">
                <td th:text="${lender.username}"></td>
                <td th:text="${lender.firstName}"></td>
                <td th:text="${lender.lastName}"></td>
                <td><a href="www.google.com">View</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>