<!-- David Nagy
   5/7/20
   index.html
   Main page of springbook lending
   -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <title th:text="#{home.logo}">Booking Lending Application</title>
</head>
<body>
<div class="head-1">
    <div class="jumbotron">
        <h1 th:text="#{home.logo}">Booking Lending Application</h1>
        <h5 th:text="#{home.logo.subtext}">A next generation book lending application that connects borrowers with the
            stores they love.'"
        </h5>
    </div>
</div>
<nav class="navbar-nav">
    <ul class="navbar">
        <li class="nav-item active">
            <a th:text="#{home.nav.home}" class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a th:text="#{home.nav.profile}" class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
            <a th:text="#{home.nav.viewlenders}" class="nav-link" href="#">View Lenders</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/templates/books/all}" class="nav-link" href="#">All Books</a>
        </li>
        <li class="nav-item">
            <a th:text="#{home.nav.mybooks}" class="nav-link" href="#">My Books</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/templates/books/addbook}" class="nav-link" href="#">Add a Book</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/register/}" class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item">
            <a th:text="#{home.nav.login}" class="nav-link" href="#">Login</a>
        </li>
    </ul>
</nav>
<div class="card-deck">
    <div class="card">
        <div id="card">
            <img class="card-img-top" th:src="@{/images/borrow.jpg}" alt="Card image cap"
                 style="width:435px;height:325px;" src="">
            <div class="card-body">
                <h4 th:text="#{home.header.lenders}" class="card-title">Lenders</h4>
                <p th:text="#{home.header.lenders.subtext}">Book lending is alive and well! Why buy a new book
                    when you can crowd-source a collection of stories that will keep you
                    busy reading for years to come.
                </p>
                <a th:href="@{/register/}" class="nav-link1">Register!</a>
                <a th:href="@{/templates/lenders/all}" href="#" class="nav-link1">View Lenders</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div id="card2">
            <img class="card-img-top" th:src="@{images/book.jpg}" alt="Card image cap"
                 style="width:435px;height:325px;" src="">
            <div class="card-body">
                <h4 th:text="#{home.header.books}" class="card-title">Books</h4>
                <p th:text="#{home.header.books.subtext}">Browse a selection of over 1000 book titles.
                    You'll find a title in any genre you like, including mysteries, science
                    fiction and romance. A book for every day
                </p>
                <a th:text="#{home.nav.mybooks}" href="#" class="nav-link1">My books</a>
                <a th:href="@{/templates/books/addbook}" href="#" class="nav-link1">Add a Book</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div id="card3">
            <img alt="Card image cap" class="card-img-top" th:src="@{images/lending.png}"
                 style="width:450px;height:325px;" src="">
            <div class="card-body">
                <h4 th:text="#{home.header.borrowedbooks}" class="card-title">Borrowed Books</h4>
                <p th:text="#{home.header.borrowedbooks.subtext}">Connect with 100's of other users from your area.Users
                    are expected to take care of any borrowed materials and to return them in a
                    timely manner.
                </p>
                <a th:text="#{home.nav.borrowbook}" href="#" class="nav-link1">Borrow a book!</a>
                <a  th:text="#{home.nav.returnbook}" href="#" class="nav-link1">Return a book</a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</html>