


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head ">
    <meta charset="UTF-8">
    <title>Book Lending Application</title>


</head>
<body>
    <header th:replace="fragments/header :: top"></header>

    <div class="flex-box">
        <div class="flex-box-item">
            <ul class="list-group">
                <h2 th:text="${lender.username}"></h2>

                <li class="list-group-item"><strong>ID</strong>: <span th:text="${lender.id}">1</span></li>
                <li class="list-group-item"><strong>First Name</strong>: <span th:text="${lender.firstName}">

                </span></li>
                <li class="list-group-item"><strong>Last Name</strong>: <span th:text="${lender.lastName}"></span></li>
                <li class="list-group-item"><strong>Biography</strong>: <span th:text="${lender.bio}"></span></li>
            </ul>
        </div>

        <div class="flex-box-item">
            <ul class="list-group">
                <h2>Books To Lend</h2>

                <li class="list-group-item" th:each="book : ${booksToLend}">
                    <strong>Title</strong>: <span th:text="${book.title}" >Book #1 </span>
                    <a th:href="@{'/books/view/' + ${book.isbn}}">View</a>
                    <span th:if="${!loggedInUsername.equals(lender.username)}">
                    <a th:href="@{'/books/borrow/' + ${book.isbn}}">borrow</a></span>
                </li>

            </ul>

            <ul class="list-group">
                <h2>Loaned Books</h2>

                <li th:each="book : ${loanedBook}" class="list-group-item"><strong>Title</strong>:
                    <span th:text="${book.title}">Book #1 </span>
                    <p>
                        (<a th:href="@{'/lenders/username/' + ${book.borrower.getUsername()}}"
                            th:text="${book.borrower.getUsername()}"></a>)
                    </p>
                    <a th:href="@{'/books/view/'+ ${book.isbn}}"> View</a>
                </li>

                <li th:if="${loanedBook.isEmpty()}" class="list-group-item">
                    No users are currently borrowing yours books.
                </li>
            </ul>

            <ul class="list-group">
                <h2>Borrowed Books</h2>

                <li th:each="book : ${borrowedBook}" class="list-group-item"><strong>Title</strong>:
                    <span th:text="${book.title}">Book #1 </span>

                    <a th:href="@{'/books/view/'+ ${book.isbn}}">View</a>
                    <a th:href="@{'/books/return/'+${book.isbn}}">Return</a>
                </li>

                <li th:if="${borrowedBook.isEmpty()}" class="list-group-item">
                View Books that you can borrow
                    <a th:href="@{/lenders/all}">here</a>

            </ul>

        </div>
    </div>


</body>
</html>