<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head ">
    <meta charset="UTF-8">
    <title>Book Lending Application</title>
    
</head>
<body>
<header th:replace="fragments/header :: top">

</header>
<div class="row">
    <div class="column">

        <div class="">
            <ul class="list-group">
                <h2 th:text="${isbn.getAuthor()}"></h2>

                <li class="list-group-item"><strong>ID </strong>: <span th:text="${isbn.getId()}">1</span></li>
                <li class="list-group-item"><strong>ISBN </strong>: <span th:text="${isbn.getIsbn()}"></span></li>
                <li class="list-group-item"><strong>Author </strong>: <span th:text="${isbn.getAuthor()}"></span></li>
                <li class="list-group-item"><strong>Pages </strong>: <span th:text="${isbn.getPages()}"></span></li>
                <li class="list-group-item"><strong>Synopsis </strong>: <span th:text="${isbn.getSynopsis()}">

                </span></li>
            </ul>
        </div>
    </div>

        <div class="column1">
            
            <img th:src="${'/books/'+book.isbn+'/image'}" alt="#" src="#"/>
            
        </div>
    </div>

</body>
</html>